[alias]
  amend = commit -a --amend --no-edit
  amendm = commit -a --amend
  br = branch
  clear = "!git reset .; git co .; git clean -f"
  cm = commit
  cmam = commit -am
  cmm = commit -m
  co = checkout
  diffc = diff --cached
  l = log --pretty=format:'%h %an %Cred%ar %d %Cgreen%s'
  pick = cherry-pick
  pl = pull
  pls = "!git pull && git push"
  ps = push
  rbm = "!git checkout master && git fetch origin && git reset --hard origin/master && git checkout - && git rebase master"
  st = status
  uncommit = reset --soft HEAD^
[branch]
  autosetuprebase = always
[core]
  excludesfile = ~/.gitignore
[fetch]
  prune = true
[hub]
  protocol = https
[push]
  default = current
[web]
  browser = google-chrome